@font-face {
  font-family: "gotham";
  src: url('fonts/ufonts.com_gotham_book.eot');
  src: url('fonts/ufonts.com_gotham-book.woff') format('woff'),
       url('fonts/ufonts.com_gotham-book.ttf')  format('truetype');
}
*{
  box-sizing: border-box;
  font-family: "gotham", sans-serif;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}
/* -------------------Navigation------------------- */
body{
  margin: -1px -1px -1px -1px;
}

.navigation{
  z-index: 10;
  height: 60px;


}
.nav{
  padding-top: 25px;
  background-color: #34495E;
  height: 80px;
  display: block;
  float: left;
  font-family: "gotham";
  font-size: 2em;
  text-align: center;
  color: white;
  z-index: 10;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}
#name{
  width : 50%;
  font-size: 3em;
  padding-top: 22px;
  /*position: fixed;*/
  background-color: #161F29 ;
  text-align: left;
  padding-left: 1.4em;
  border-bottom: 6px solid #0B1649;
}
#github{
  background-color: #5D6D7E;
  width: 17.66%;
  left: 49%;
  margin-right: -1em;
  position: fixed;
  z-index: 1;
  border-bottom: 6px solid #0B1649;
}
#twitter{
  background-color: #89A0B8;
  width: 16.66%;
  left: 66.66%;
  position: fixed;
  border-bottom: 6px solid #0B1649;
}
#linkedin{
  background-color: #B1C8DF;
  width: 16.66%;
  left: 83.33%;
  position: fixed;
  border-bottom: 6px solid #0B1649;
}
@media(max-width: 950px){
  #name{
    width: 100%;
  }
  #github, #twitter, #linkedin{
    width: 33.33%;
    margin-top: 0px;
  }
}





/* -------------------Banner------------------- */

.banner{
  background-image: url("images/Two_Moons_Player_abstractmb2.png");
  background-size: cover;
  width: 100%;
  height: 43em;
  display: block;
  float: left;
  border-bottom: 6px solid #0B1649;
  display : flex;
}

.bannertext{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "gotham", sans-serif;
  color: white;
  text-align: center;
  margin-top: 3.4em;
  font-size: 5em;
  font-weight: bold;
}
@media(max-width: 1117px){
  .banner{
    /*margin-top:60px;*/
  }
}

@media(max-width: 520px){
  .banner{
    background-image: url("images/Two_Moons_Player_abstractmb2.png");
  }
  .bannertext{
    font-size: 4em;
  }
}


/* -------------------About Me------------------- */
.me{
  width: 50%;
  height: 32em;
  display: block;
  float: left;
}
#mleft{
  background-color: #253442;
}
.textheader{
  font-size: 2.5em;
  color : #141C24;
  font-family: "gotham",sans-serif;
  margin: 2em 1.5em 1em 1.5em;
  text-align: left;
}
.text{
  font-size: 2em;
  color : #141C24;
  font-family: "gotham",sans-serif;
  margin: 0 2em 1em 2em;
  text-align: left;
}
#mright{
  background-color: #B1C8DF;
}

#carl{
  margin-top:4.75em;
  height:23em;
  float: right;
  right: 29%;
  position: relative;
  border: 1.5em solid #253442;
  border-radius: 1px;
}
@media(max-width: 692px){
  #mleft, #mright{
    width: 100%;
  }
}

/* -------------------What i know/learning------------------- */
.proj{
  width: 50%;
  height: 32em;
  display: block;
  float: left;
  /*border-bottom: 6px solid #0B1649;*/
}
#pleft{
  background-color: #5D6D7E;
}
#pright{
  background-color: #161F29;
}

/* -------------------Image Icons------------------- */

.WIK_container,.WILN_container{
  margin-left: 1.5em;
}
.WIK, .WILN{
  margin-left: 2em;
}
#njs{
  margin-right: 1em;
  margin-left: 2.5em;
}
#js2{
  margin-left: 0.5em;
}
#cs{
  margin-left: 1.5em;
  margin-right: 0.8em;
}

#java,#cs,#js2,#jq,#pgsql,#rjs,#njs,#sio,#rx,#fa{
  -webkit-filter: invert(100%); /* Safari */
  filter: invert(100%);
}

/* -------------------Image Icons End ------------------- */

@media(max-width: 692px){
  #pleft{
    width: 100%;
    background-color: #253442;
  }
  #pright{
    width: 100%;
    background-color: #34495E;
  }
}

.projects{
  border-bottom: 2px solid black;
}
/* -------------------projects------------------- */
.p1,.p2{
  width: 50%;
  height: 32em;
  display: block;
  float: left;
}

.gif{
  width: 84%;
  margin: 1em 0 0 1em;
  border: 1em solid #1a1529;
  border-radius: 1px;
}

#p1left{
  background-color: #423568;
}
#p1right{
  background-color: #675d86;
}
#p2left{
  background-color: #2e2548;
}
#p2right{
  background-color: #1a1529;
}

.textheader,.text{
  color: white;
}

/* -------------------contact------------------- */
.background2{
  border-top: 6px solid #0B1649;
  background-image: url("images/back12.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 50em;
  display: block;
  float: left;
}

.contact_container{
  margin-left: 27em;
  margin-top: 21em;
}


.bannertext2{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "gotham", sans-serif;
  color: white;
  text-align: center;
  margin-top: 5.4em;
  font-size: 3em;
  font-weight: bold;
}

.bannertext3{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "gotham", sans-serif;
  color: white;
  text-align: center;

  margin-left: 5em;
  font-size: 1.5em;
  text-transform: uppercase;
  border: 2px solid white;
  padding: 10px 20px;
  display: inline;
  font-weight: bold;
  border-radius: 1px;
}
a{
  text-decoration: none;
  color: white;
}
