html{
  box-sizing: border-box;
}

body{
  background-color: #2F3132;
  color: white;
  font-family: Consolas, monaco, monospace, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  margin: 0;
}

.invert{
  -webkit-filter : invert(100%);
  filter : invert(100%);
}

/*---------------------------COVER----------------------------------*/
.coverPicture{
  /*border : 5px solid lightcoral;*/
  position: relative;
  display: flex;
}
.coverText{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 3em;
  display: inline;
}

.coverItem{
  width : 100%;
  height : 42em;
}


/*------------------------------------------------------------------*/
/*---------------------------NAVBAR---------------------------------*/
.navBar{
  /*border : 5px solid lightcoral;*/
  display: flex;

}
.navItem{
  height: 70px;
  margin: 0;
  background: DeepSkyBlue;
  color: white;
  text-align: center;
  line-height: 50px;
  font-weight: 600;

}

.name{
  margin-top : 15px;
}
.headericon{
  margin-top : 15px;
  width : 40px;
}

.navItem:nth-child(1){
  background: #1a1529;
  width : 50%;
  font-size : 2em;
}
.navItem:nth-child(2){
  background: #675d86;
  width : 16.66%;
}
.navItem:nth-child(3){
  background: #423568;
  width : 16.66%;
}
.navItem:nth-child(4){
  background: #2e2548;
  width : 16.66%;
}

/*-------------------------------------------------------------------*/
/*---------------------------CONTENT---------------------------------*/

.content{
  border-color : #0B1649;
  border-style: solid;
  border-width: 10px 10px 10px 10px;
  display : flex;
  flex-wrap : wrap;
}

.contentItem{
  width: 50%;
  height: 500px;
  background: DeepSkyBlue;
  color: white;
  text-align: center;
  line-height: 50px;
  font-weight: 600;
}

#ci1{
  background-color: #253442;
  width: 60.5%;
  padding : 0 55px 110px 55px;

}

#ci2{
  background-color: #253442;
  width: 27%;
  padding : 55px 55px 55px 0;
}

#ci3{
  background-color: #5D6D7E;

}

.wik{
  height : 70px;
  margin : 30px 20px 0 20px;
}



#ci4{
  background-color: #161F29;
}

.wiwk{
  height : 70px;
  margin : 30px 20px 0 20px;
}

.text{
  margin: 40px 50px 30px 50px;
}

.resize{
  height : 85px;
}


#ci5{
  background-color: #423568;

}
#ci6{
  background-color: #675d86;
}
#ci7{
  background-color: #2e2548;
}
#ci8{
  background-color: #1a1529;
}

#ci1, #ci3, #ci4, #ci6, #ci7, #ci8{
  font-size: 1.5em;
}
/*------------------------------Footer----------------------------------*/
.footerPicture{
  /*border : 5px solid lightcoral;*/
  display: flex;
}
.footerItem{
  width : 100%;
  height : 50em;
}
/*---------------------------------------------------------------------*/
